README.md
frontend/node_modules/

# Git
.git
.gitignore

# Docker
.docker

# Python
core/__pycache__/
core/*/__pycache__/
core/*/*/__pycache__/
core/*/*/*/__pycache__/

# Environments
.env/
# .env*
.venv/
env/
venv/
