# Django Settings
PRODUCTION=False
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=changeme
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=localhost,https://127.0.0.1

# Database Settings
DB_NAME=dbname
DB_USER=rootuser
DB_PASS=changeme
DB_HOST=db
DB_PORT=5432
